{% extends 'base.html.twig' %}

{% block title %}Edit Timezone{% endblock %}

{% block body %}
    <h1>Edit Timezone</h1>

    {{ include('timezone/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_timezone_index') }}">back to list</a>

    {{ include('timezone/_delete_form.html.twig') }}
{% endblock %}
