<form method="post" action="{{ path('app_user_identity_delete', {'id': user_identity.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_identity.id) }}">
    <button class="btn">Delete</button>
</form>
