{% extends 'base.html.twig' %}

{% block title %}Edit UserIdentity{% endblock %}

{% block body %}
    <h1>Edit UserIdentity</h1>

    {{ include('user_identity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_identity_index') }}">back to list</a>

    {{ include('user_identity/_delete_form.html.twig') }}
{% endblock %}
