{% extends 'base.html.twig' %}

{% block title %}UserIdentity index{% endblock %}

{% block body %}
    <h1>UserIdentity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Portrait</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_identity in user_identities %}
            <tr>
                <td>{{ user_identity.id }}</td>
                <td>{{ user_identity.name }}</td>
                <td>{{ user_identity.surname }}</td>
                <td>{{ user_identity.portrait }}</td>
                <td>
                    <a href="{{ path('app_user_identity_show', {'id': user_identity.id}) }}">show</a>
                    <a href="{{ path('app_user_identity_edit', {'id': user_identity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_identity_new') }}">Create new</a>
{% endblock %}
