{% extends 'base.html.twig' %}

{% block title %}New UserIdentity{% endblock %}

{% block body %}
    <h1>Create new UserIdentity</h1>

    {{ include('user_identity/_form.html.twig') }}

    <a href="{{ path('app_user_identity_index') }}">back to list</a>
{% endblock %}
