{% extends 'base.html.twig' %}

{% block title %}UserIdentity{% endblock %}

{% block body %}
    <h1>UserIdentity</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_identity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user_identity.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ user_identity.surname }}</td>
            </tr>
            <tr>
                <th>Portrait</th>
                <td>{{ user_identity.portrait }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_identity_index') }}">back to list</a>

    <a href="{{ path('app_user_identity_edit', {'id': user_identity.id}) }}">edit</a>

    {{ include('user_identity/_delete_form.html.twig') }}
{% endblock %}
