<form method="post" action="{{ path('app_informations_delete', {'id': information.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ information.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
