{% extends 'base.html.twig' %}

{% block title %}Liste des Informations{% endblock %}

{% block body %}
    <h1>Edit Informations</h1>

    {{ include('informations/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('informations/_delete_form.html.twig') }}

    <a href="{{ path('app_informations_index') }}" class="btn btnBack">back to list</a>
{% endblock %}
