{% extends 'base.html.twig' %}

{% block title %}Liste des Informations
{% endblock %}

{% block body %}
	<h1>Liste des Informations</h1>
	<div class=" d-flex flex-wrap justify-content-around">
		{% for information in informations %}
			<div class="card shadow m-2 rounded" style="width: 18rem; min-height: 500px;">
				<img src="{{ information.picture }}" class="card-img-top" alt="...">
				<div class="card-body">
					<h3 class="card-title">{{ information.name }}</h3>
					<p class="card-title">{{ information.url }}</p>

					<details class="card-text">
						<summary>Affiche le texte</summary>
						{{ information.text }}</details>
					<a href="{{ path('app_informations_show', {'id': information.id}) }}" class="btn">show</a>
					<a href="{{ path('app_informations_edit', {'id': information.id}) }}" class="btn">edit</a>
				</div>
			</div>

		{% else %}
			<tr>
				<td colspan="6">Aucun évènement</td>
			</tr>
		{% endfor %}
	</div>
</tbody></table></div><div><a href="{{ path('app_informations_new') }}" class="btn btnCreate position-absolute">Create new</a></div>{% endblock %}
