{% extends 'base.html.twig' %}

{% block title %}Nouvelle informations{% endblock %}

{% block body %}
    <h1>Créer un nouvel enregistrement</h1>

    {{ include('informations/_form.html.twig') }}

    <a href="{{ path('app_informations_index') }}" class="btn btnBack">back to list</a>
{% endblock %}
