{% extends 'base.html.twig' %}

{% block title %}Informations{% endblock %}

{% block body %}
    <h1>Informations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ information.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ information.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ information.url }}</td>
            </tr>
            <tr class="col-6">
                <th >Text</th>
                <td>{{ information.text }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ information.picture }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_informations_index') }}">back to list</a>

    <a href="{{ path('app_informations_edit', {'id': information.id}) }}">edit</a>

    {{ include('informations/_delete_form.html.twig') }}
{% endblock %}
