<form method="post" action="{{ path('app_account_delete', {'id': account.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ account.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
