{% extends 'base.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block body %}
    <h1>Edit Account</h1>

    {{ include('account/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('account/_delete_form.html.twig') }}

    <a href="{{ path('app_account_index') }}" class="btn btnBack">back to list</a>

{% endblock %}
