{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>Edit Event</h1>

    {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('event/_delete_form.html.twig') }}

    <a href="{{ path('app_event_index') }}" class="btn btnBack">back to list</a>

{% endblock %}
