{% extends 'base.html.twig' %}

{% block title %}Liste des évènements{% endblock %}

{% block body %}
    <h1>Liste des évènements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>DateBegin</th>
                <th>DateEnd</th>
                <th>Place</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.dateBegin ? event.dateBegin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.dateEnd ? event.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.place }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}" class="btn">show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}" class="btn">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}" class="btn btnCreate">Create new</a>
{% endblock %}
