{% extends 'base.html.twig' %}

{% block title %}Nouvel évènement{% endblock %}

{% block body %}
    <h1>Enregistrer un nouvel évènement</h1>

    {{ include('event/_form.html.twig') }}

    <a href="{{ path('app_event_index') }}" class="btn">Retour à la liste</a>
{% endblock %}
