{% extends 'base.html.twig' %}

{% block body %}
<link href="{{ asset('css/connexion.css') }}" rel="stylesheet"/>
<main class="page_center">
    <section class="accueil">

        {# notification message #}
        {% for message in app.flashes('create') %}
            <div class="flash-ajouter">
                {{ message }}
            </div>
        {% endfor %}
<div class="card mb-6 border-dark rounded-3 position-absolute top-50 start-50 translate-middle" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="image/alfred.png" class="img-fluid d-flex" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <form class="formulaire" action="" method="post">
            <h1 class="connexion_title">Connexion</h1>
            <label class="label_text" for="">Adresse mail</label>
            <div> 
                <input placeholder= "Mail..." required name="_username" 
                class="contain_input" type="text">
            </div> 
            <label class="label_text" for="">Mot de passe</label>
            <div>
                <input placeholder= "Mot de passe..." required name="_password" 
                type="password" class="contain_input">
            </div>

            <div class="action"> 
                <button class="connexion btn" type="submit">connexion</button> 
            </div> 

            <div class="contain_msg">
                <p>Vous n'avez pas de compte ?</p>
                <a class="msg_inscription btn" href="{{ path('inscription') }}"><span>Inscrivez-vous</span></a>
            </div>
        </form>
        
      </div>
    </div>
  </div>
</div>

    </section>
</main>
{% endblock %}


