{% extends 'base.html.twig' %}
{% block body %}
<link href="{{ asset('css/inscription.css') }}" rel="stylesheet"/>
<main class="page_center">
    <section class="accueil">
<div class="card mb-6 border-dark rounded-3 position-absolute top-50 start-50 translate-middle" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="image/alfred.png" class="img-fluid d-flex" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"></h5>
        
        <form class="formulaire" method="post">
            {{form_start(form)}}

                {# Affichage des messsages d'erreur #}
                {% if not form.vars.valid %}
                    <div class="message_erreur">
                        {# on affiche en premier les erreurs globales (cas classiques) #}
                        {% for error in form.vars.errors %}
                            <li>{{error.message}}</li>
                        {% endfor %}
                        {# ainsi que les erreurs concernant chaque champs #}
                        {% for child in form.children %}
                            {# si le champ à des erreur #}
                            {% if child.vars.errors is defined %}
                                {% for error in child.vars.errors %}
                                    <div>{{child.vars.label}}  {{error.message}} </div> 
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                
                {# Formulaire #}
                <h1 class="inscription_title">Inscription</h1>
                <label class="label_text input-group flex-nowrap" for="">Nom d'utilisateur</label>
                {{ form_widget(form.username) }}
                <label class="label_text input-group flex-nowrap" for="">Adresse mail</label>
                {{ form_widget(form.mail) }}
                <label class="label_text input-group flex-nowrap" for="">Mot de passe</label>
                {{ form_widget(form.password) }}
                <label class="label_text input-group flex-nowrap" for="">Confirmation du mot de passe</label>
                {{ form_widget(form.confirm_password) }}

                {# Boutons d'action #}
                <div class="action"> 
                    <button class="inscription btn" type="submit">S'inscrire</button> 
                </div> 

                <div class="contain_msg">
                    <p>Vous possédez déja un compte ?</p>
                    <a class="msg_inscription_connexion btn" href="{{ path('connexion') }}"><span>Identifiez-vous</span></a>
                </div>
                
            {{form_end(form)}}      
        </form>
            </div>
        </form>
        
      </div>
    </div>
  </div>
</div>

    </section>
</main>
{% endblock %}