{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}

<div class="container vh-100">
<div class="d-flex justify-content-between mt-2">
  <h1>Bienvenue chez @lfred</h1>
  {% if not app.user %}
  <div class="d-flex justify-content-sm-center">
      <a class="d-flex align-items-center fixed-top-right btn btn-outline-success rounded-circle m-1" href="{{ path("inscription") }}">Inscription</a>
      <a class="d-flex align-items-center fixed-top-right btn btn-outline-success rounded-circle m-1" href="{{ path("connexion") }}">Connexion</a>  
  </div>
  {% else %}
      <a class="d-flex align-items-center fixed-top-right btn btn-outline-success rounded-circle m-1" href="{{ path("deconnexion") }}">Deconnexion</a>
  {% endif %}
</div>
  <div class="container d-flex img-fluid flex-column flex-sm-row justify-content-between">
  {# <div class="container d-flex sm-flex-column col-lg-5 justify-content-between"> #}
    <img src="{{ asset('image/postit.png') }}" class="col-6 col-sm-4 img-fluid"  alt="un post it avec ecrit dessus passe une belle journee">
    <img src="{{ asset('image/pense-bete.jpg') }}" class="col-6 col-sm-4 img-fluid align-self-end" alt="un post it avec écrit dessus pense bete">
    <img src="{{ asset('image/postit-alfred.jpg') }}" class="col-6 col-sm-4 img-fluid" alt="un dessin d'Alfred l'assistant">
  </div>

    <div class="d-sm-none">
      <ul class="nav fixed-bottom bg-dark d-flex justify-content-around flex-nowrap">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path("app_home") }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path("app_event_index") }}">Calendrier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path("app_todolist_index") }}">To do Liste</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path("app_informations_index") }}">Informations</a>
        </li>
        {# <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> #}
      </ul>
    </div>
  
  </div>
</div>

{% endblock %}
