<form method="post" action="{{ path('app_alarm_delete', {'id': alarm.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alarm.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
