{% extends 'base.html.twig' %}

{% block title %}Edit Alarm{% endblock %}

{% block body %}
    <h1>Edit Alarm</h1>

    {{ include('alarm/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('alarm/_delete_form.html.twig') }}

    <a href="{{ path('app_alarm_index') }}" class="btn btnBack">back to list</a>

{% endblock %}
