{% extends 'base.html.twig' %}

{% block title %}Alarm index{% endblock %}

{% block body %}
    <h1>Alarm index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alarm in alarms %}
            <tr>
                <td>{{ alarm.id }}</td>
                <td>{{ alarm.name }}</td>
                <td>{{ alarm.date ? alarm.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_alarm_show', {'id': alarm.id}) }}" class="btn">show</a>
                    <a href="{{ path('app_alarm_edit', {'id': alarm.id}) }}" class="btn">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_alarm_new') }}" class="btn btnCreate">Create new</a>
{% endblock %}
