{% extends 'base.html.twig' %}

{% block title %}New Alarm{% endblock %}

{% block body %}
    <h1>Create new Alarm</h1>

    {{ include('alarm/_form.html.twig') }}

    <a href="{{ path('app_alarm_index') }}" class="btn btnBack">back to list</a>
{% endblock %}
