{% extends 'base.html.twig' %}

{% block title %}Alarm{% endblock %}

{% block body %}
    <h1>Alarm</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alarm.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ alarm.name }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ alarm.date ? alarm.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('app_alarm_edit', {'id': alarm.id}) }}" class="btn">edit</a><br>
    {{ include('alarm/_delete_form.html.twig') }}
    <a href="{{ path('app_alarm_index') }}" class="btn btnBack">back to list</a>

{% endblock %}
