<form method="post" action="{{ path('app_todolist_delete', {'id': todolist.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ todolist.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
