{% extends 'base.html.twig' %}

{% block title %}Nouvelle To do list{% endblock %}

{% block body %}
    <h1>Create new Todolist</h1>

    {{ include('todolist/_form.html.twig') }}

    <a href="{{ path('app_todolist_index') }}" class="btn btnBack">back to list</a>
{% endblock %}
