<form method="post" action="{{ path('app_task_category_delete', {'id': task_category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task_category.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
