{% extends 'base.html.twig' %}

{% block title %}Edit TaskCategory{% endblock %}

{% block body %}
    <h1>Edit TaskCategory</h1>

    {{ include('task_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_task_category_index') }}">back to list</a>

    {{ include('task_category/_delete_form.html.twig') }}
{% endblock %}
