{% extends 'base.html.twig' %}

{% block title %}TaskCategory{% endblock %}

{% block body %}
    <h1>TaskCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task_category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ task_category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_task_category_index') }}">back to list</a>

    <a href="{{ path('app_task_category_edit', {'id': task_category.id}) }}">edit</a>

    {{ include('task_category/_delete_form.html.twig') }}
{% endblock %}
