{% extends 'base.html.twig' %}

{% block title %}Edit CategoryEvent{% endblock %}

{% block body %}
    <h1>Edit CategoryEvent</h1>

    {{ include('category_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_category_event_index') }}">back to list</a>

    {{ include('category_event/_delete_form.html.twig') }}
{% endblock %}
