{% extends 'base.html.twig' %}

{% block title %}CategoryEvent index{% endblock %}

{% block body %}
    <h1>CategoryEvent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_event in category_events %}
            <tr>
                <td>{{ category_event.id }}</td>
                <td>{{ category_event.name }}</td>
                <td>
                    <a href="{{ path('app_category_event_show', {'id': category_event.id}) }}">show</a>
                    <a href="{{ path('app_category_event_edit', {'id': category_event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_event_new') }}">Create new</a>
{% endblock %}
