{% extends 'base.html.twig' %}

{% block title %}New CategoryEvent{% endblock %}

{% block body %}
    <h1>Create new CategoryEvent</h1>

    {{ include('category_event/_form.html.twig') }}

    <a href="{{ path('app_category_event_index') }}">back to list</a>
{% endblock %}
