body {
  background-color: rgb(234, 237, 238);
}

.navbar{
  background-color: rgb(10, 126, 126);
}


.btn {
  background-color: #76c893;
  box-shadow: 2px 5px 16px 0px #626365c8;
  margin: 10px;
}

.btnBack{
  background-color: rgb(118, 138, 255);
}

.btnCreate{
  background-color: #b5e48c;
}

.delete{
  background-color:#d00000;
}