<form method="post" action="{{ path('app_todotask_delete', {'id': todotask.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ todotask.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
