{% extends 'base.html.twig' %}

{% block title %}Edit Todotask{% endblock %}

{% block body %}
    <h1>Edit Todotask</h1>

    {{ include('todotask/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_todotask_index') }} class="btn btn-info">back to list</a>

    {{ include('todotask/_delete_form.html.twig') }}
{% endblock %}
