{% extends 'base.html.twig' %}

{% block title %}Todotask index{% endblock %}

{% block body %}
    <h1>Todotask index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Taskname</th>
                <th>actions</th>
                <th>Modification</th>
            </tr>
        </thead>
        <tbody>
        {% for todotask in todotasks %}
            <tr>
                <td>{{ todotask.id }}</td>
                <td>{{ todotask.taskname }}</td>
                <td>{{ todotask.idList.name }}</td>
                <td>
                    <a href="{{ path('app_todotask_show', {'id': todotask.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('app_todotask_edit', {'id': todotask.id}) }}" class="btn btn-success">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_todotask_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
