{% extends 'base.html.twig' %}

{% block title %}New Todotask{% endblock %}

{% block body %}
    <h1>Create new Todotask</h1>

    {{ include('todotask/_form.html.twig') }}

    <a href="{{ path('app_todotask_index') }}">back to list</a>
{% endblock %}
