{% extends 'base.html.twig' %}

{% block title %}Todotask{% endblock %}

{% block body %}
    <h1>Todotask</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ todotask.id }}</td>
            </tr>
            <tr>
                <th>Taskname</th>
                <td>{{ todotask.taskname }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_todotask_index') }}">back to list</a>

    <a href="{{ path('app_todotask_edit', {'id': todotask.id}) }}">edit</a>

    {{ include('todotask/_delete_form.html.twig') }}
{% endblock %}
