<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="steelsheet" href="{{ asset('styles/app.scss')}}">
      <!-- Bootstrap CSS -->
    {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  #}
        {# {Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

                  <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                      <li class="nav-item">
                        <a class="nav-link active" href=" {{ path("app_home") }} ">Home
                          <span class="visually-hidden">(current)</span>
                        </a>
                      </li>

                      {% if not app.user %}
                      {% else %}
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_event_index") }}">Evenement</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_todolist_index") }}">To do Liste</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_informations_index") }}">Informations</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_alarm_index") }}">Alarm</a>
                      </li>
                      
                          <li class="nav-item dropdown d-sm-none">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" id="deroulante" aria-haspopup="true" aria-expanded="true">Dropdown</a>
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Menu
                              </button>
                               <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="{{ path("app_home") }}">Accueil</a></li>
                                <li><a class="dropdown-item" href="{{ path("app_event_index") }}">Evenement</a></li>
                                <li><a class="dropdown-item" href="{{ path("app_alarm_index") }}">Alarm</a></li>
                                <li><a class="dropdown-item" href="{{ path("app_todolist_index") }}">To do liste</a></li>
                                <li><a class="dropdown-item" href="{{ path("app_informations_index") }}">Information</a></li>
                              </ul>
                              {# <a class="dropdown-item" href="#">Separated link</a> #}
                            </div>
                      </li>
                       {% endif %}
                    </ul>
              <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </div>
    </nav>
    </header>
        {% block body %}
        {% endblock %}
    </body>
</html>
